{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set numberOfCols = config('Ceres.footer.number_of_cols') %}
{% set colSize = (12 / (numberOfCols + 1)) %}
{% set displayedCategories = [] %}
{% set numberOfFeatures = config('Ceres.footer.number_of_features') %}
{% set topButtonPosition = config('Ceres.footer.to_top_button') %}

{% set footerContainer = LayoutContainer.show("Ceres::Footer") | trim %}
{% if footerContainer is empty %}

    <div class="footer">

        <div class="{% if topButtonPosition == "right" %}back-to-top{% else %}back-to-top-center{% endif %} hidden-sm-down">
            <i class="fa fa-chevron-up"></i>
        </div>

        <div class="to-top hidden-md-up" v-scroll-to-top>
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </div>

        {% if numberOfFeatures > 0 %}
            <div class="footer-features p-y-1 container-max">
                <div class="row">
                    {% for i in 1..numberOfFeatures %}
                        <div class="col-xs-12 col-sm-4 text-xs-center">
                            <i class="fa fa-check text-success" aria-hidden="true"></i>
                            {{ trans('Ceres::Template.footerStoreFeature' ~ i) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}


        <div class="container-max footer-content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="footer-services m-t-2">
                        {% set paymentMethodContent = LayoutContainer.show("Ceres::Homepage.PaymentMethods") %}
                        {% if paymentMethodContent|trim is not empty %}
                            <div class="services-payment m-b-1">
                                <strong class="services-title">{{ trans("Ceres::Template.footerPaymentMethods") }}</strong>
                                {{ paymentMethodContent }}
                            </div>
                        {% endif %}
                        {% set shippingContent = LayoutContainer.show("Ceres::Homepage.Shipping") %}
                        {% if shippingContent|trim is not empty %}
                            <div class="services-shipping m-b-1">
                                <strong class="services-title">{{ trans("Ceres::Template.footerOrderShippedBy") }}</strong>
                                {{ shippingContent }}
                            </div>
                        {% endif %}
                        {% set certifiedContent = LayoutContainer.show("Ceres::Homepage.Certified") %}
                        {% if certifiedContent|trim is not empty %}
                            <div class="services-certificate m-b-1">
                                <strong class="services-title">{{ trans("Ceres::Template.footerCertifiedBy") }}</strong>
                                {{ certifiedContent }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row">
                <hr class="m-y-2">
                {% for i in 1..numberOfCols %}
                    <div class="col-xs-6 col-sm-3 col-lg-2">
                        <nav class="footer-column m-b-2">
                            <h2 class="h5">{{ trans('Ceres::Template.footerColumnTitle' ~ i) }}</h2>
                            <ul class="list-unstyled">

                                {% set footerCategories = config('Ceres.footer.col_' ~ i ~ '_categories') | find("[0-9]+") %}
                                {% for catID in footerCategories %}

                                    {% set cat = services.category.get(catID, lang) %}

                                    {% if cat is not null %}
                                        {% set displayedCategories = displayedCategories | merge([catID]) %}
                                        <li>
                                            <a href="{{ services.category.getURL( cat ) }}">
                                                {{ cat.details.first.name }}</a>
                                        </li>
                                    {% endif %}

                                {% endfor %}

                            </ul>
                        </nav>
                    </div>
                {% endfor %}
                <hr class="hidden-sm-up m-y-2">
                <div class="col-xs-6 col-sm-3">
                    <div class="footer-column">
                        {{ LayoutContainer.show("Ceres::Footer.RowOne") }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="footer-column row">
                        {% set rowTwo = LayoutContainer.show("Ceres::Footer.RowTwo") %}

                        {{ rowTwo }}

                        <div class="col-xs-12{% if rowTwo|trim is not empty %} col-sm-6 col-lg-12{% endif %}">
                            {{ LayoutContainer.show("Ceres::Footer.RowThree") }}
                        </div>
                    </div>
                </div>
            </div>

            {% set cat = services.category.get(config('Ceres.global.category.legal_disclosure')) %}
            <div class="copyright text-xs-center m-y-1">
                <div class="static-link-list">
                    {% autoescape false %}
                        <a href="{{ urls.cancellationRights }}">{{ trans("Ceres::Template.footerCancellationRight", {"hyphen": "&shy;"}) }}</a>
                        {% if config("Ceres.footer.cancellation_use_pdf") == "true" %}
                            <a href="{{ config('Ceres.footer.cancellation_pdf_path') }}" target="_blank">{{ trans("Ceres::Template.footerCancellationForm", {"hyphen": "&shy;"}) }}</a>
                        {% else %}
                            <a href="{{ urls.cancellationForm }}">{{ trans("Ceres::Template.footerCancellationForm", {"hyphen": "&shy;"}) }}</a>
                        {% endif %}
                        <a href="{{ urls.legalDisclosure }}">{{ trans("Ceres::Template.footerLegalDisclosure") }}</a>
                        <a href="{{ urls.privacyPolicy }}">{{ trans("Ceres::Template.footerPrivacyPolicy", {"hyphen": "&shy;"}) }}</a>
                        <a href="{{ urls.gtc }}">{{ trans("Ceres::Template.footerGtc") }}</a>
                        {% if config("Ceres.contact.shop_mail") | length > 0 and config("Ceres.contact.shop_mail") != "your@email.com" %}
                            <a href="{{ urls.contact }}">{{ trans("Ceres::Template.footerContact") }}</a>
                        {% endif %}
                    {% endautoescape %}
                </div>
                <a rel="nofollow" href="https://www.plentymarkets.eu">
                    <img alt="Plentymarkets GmbH Logo" class="svg plenty-brand" src="{{ plugin_path('Ceres') }}/images/plentymarkets-logo.svg" rel="nofollow" crossorigin="anonymous">
                </a>
                <br>
                <small>&copy; Copyright {{ "now" | date("Y") }} WMK Trading GmbH</small>
            </div>
        </div>
    </div>
{% else %}
    <div class="footer container-max">
        <div class="row">
            <div class="col clearfix">
                {{ footerContainer | raw }}
            </div>
        </div>
    </div>
{% endif %}
